/* Custom Navigation Bar Styles */
.nav-container {
  position: fixed;
  z-index: 999;
  top: 0;
  right: 0;
  background-color: skyblue;
  display: inline-block;
  padding: 0 10px;
}

.normal {
  display: inline-block;
  text-align: left;
  padding: 10px 9px;
  text-decoration: none;
  font-size: 17px;
  color: white;
}

.normal:hover {
  background-color: rgba(255, 255, 255, 0.2);
  color: white;
}

/* Adjust content padding to avoid overlap with fixed navbar */
body {
  padding-top: 0px;
}